a {
   color: #333333;
   text-decoration: none;
   
}

.photo{
   aspect-ratio: 14/8;
   width: 90%;
   border-radius: 1rem;
   margin: 5%;
}

.card{
   background-color: #333333;
   display:flex;
   border-radius: 1rem;
   justify-content: center;
   text-align: center;
   margin-inline: 1rem;
}

.title{
   color: #F5F5F5;
   padding: 1rem;
}
