h2 {
   color: #461220;
   font-size: 2rem;
}

section {
   margin: 1rem;
}

.about{
   background-color: #8C2F39;
   border-radius: 0.5rem;
   margin: 0.5rem;
   padding-inline: 3rem;
   padding-block: 1rem;
}
