.details{
   padding: 1rem;
}
.titleContainer {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.centeredContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo {
  aspect-ratio: 14/8;
  width: 80%;
  border-radius: 1rem;
}

.title {
  color: #333333;
}

.body {
  color: #333333;
}

.tag {
  color: #333333;
}

.linkContainer{
   display: flex;
}

.link{
   margin-left: 5rem;
}
