.container {
	display: flex;
   justify-content: space-around;

}

.title {
   text-align: center;
   width: 30%;
	color: #f0e7d8;
   font-size: 4rem;
}

.text {
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 50%;
}

p {
	font-size: 1rem;
}

@media (max-width: 1200px){
   .container{
      flex-direction: column;
   }

   .title {
      width: 100%;
      font-size: 3rem;
   }

   .text {
      width: 100%;
   }
}