.header {
  /* padding: 2rem 10%; */
  position: -webkit-sticky;
	position: sticky;
  top: 0.5rem;
	z-index: 2;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  font-family: "Atkinson Hyperlegible", "Atkinson Hyperlegible Placeholder",
    sans-serif;
  background-color: #461220;
  margin-inline: 0.5rem;
  padding: 0.5rem;
}

.logo {
  margin: 1rem;
  font-size: 1rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  color: #F0E7D8;
  font-weight: bold;
}

.button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  color: #F0E7D8;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.button:hover {
  background-color: #f5f5f5;
  color: #242424;
}

@media (max-width: 768px) {
  nav {
    display: none;
  }
}