.footer {
	display: flex;
	justify-content: space-between;
	border-radius: 0.5rem;
	font-family: "Atkinson Hyperlegible", "Atkinson Hyperlegible Placeholder",
		sans-serif;
	background-color: #461220;
	margin-inline: 0.5rem;
	padding: 0.5rem;
	padding-inline: 1rem;
	gap: 2rem;
}
